/* Bordered form */
form {
 

  display: block;
    border: 3px solid #f1f1f1;
    width: 40%;
  
    border: 3px solid #f1f1f1;
    width: 30%;
    height: 25%;

    display:flex;
    text-align: center;
  }
 
  body{
    background-image: url('/urenbs/urenbs/Foto/1231281.jpg');
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
    
    
    height: 100vh;
    padding:0;
    margin:0;
}
.Logo{
    border-radius: 10px;


}


  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button
  {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar 
  {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }

 }
   .button2 {
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      background: transparent;
      padding: 0;
      font-size: inherit;
      font-family: inherit;
     }
     
     button.learn-more {
      width: 10vh;
      height: 12vh;
     }
     
     button.learn-more .circle {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: relative;
      display: block;
      margin: 0;
      width: 3vh;
      height: 3vh;
      background: #282936;
      border-radius: 1.625rem;
     }
     
     button.learn-more .circle .icon {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      top: -30vh;
      bottom: -40vh;
      margin: auto;
      background: #fff;
     }
     
     button.learn-more .circle .icon.arrow {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      left: 0.625vh;
      width: 1.125vh;
      height: 0.125vh;
      background: none;
     }
     
     button.learn-more .circle .icon.arrow::before {
      position: absolute;
      content: "";
      top: 79vh;
      right: 62vh;
      width: 0.625vh;
      height: 0.625vh;
      border-top: 0.125vh solid #fff;
      border-right: 0.125vh solid #fff;
      transform: rotate(45deg);
     }
     
     button.learn-more .button-text {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: #282936;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
     }
     
     button:hover .circle {
      width: 100%;
     }
     
     button:hover .circle .icon.arrow {
      background: #fff;
      transform: translate(1rem, 0);
     }
     
     button:hover .button-text {
      color: #fff;
 }